<div class="container">
  <h3>S druge strane objektiva</h3>
  <p>
    KO SAM I ŠTA MOGU DA VAM PONUDIM
    Počeo sam iz hobija, fotografišući svoje pse 2017. godine. Hobi je prerastao u mali porodični biznis, a moja interesovanja ka porodičnom fotografisanju su rasla. Potom sam odlučio da svoj fokus stavim na ambijent koji ću sam da uređujem u skladu sa sezonom, a inspirisan stvarima koje nas okružuju u prirodi. Obzirom da volim da koristim čari prirodnog osvetljenja, odlučio sam da moje postavke budu napolju. Kako je raslo interesovanje, rasla je i moja ponuda. Tako je nastao studio Porodična Fotografija.

    Napravio sam jedan ciklus ponuda – od fotografisanja u studiju na otvorenom do terenskog fotografisanja, od fotografisanja parova, do pre-wedding fotografisanja, kao i trudničkog fotografisanja. Porodičnog fotografisanja, fotografisanja dece zasebno, svih uzrasta, kroz faze beba, sitter-a, tinejdžera. Vaših životnih događaja – krštenja, proslava, proslava punoletstva, fotografisanja sa bakom i dekom. A ono u čemu posebno uživam je fotografisanje sa vašim psima.

    Razumem šta je za jednu porodicu važno i težim da na meni jedinstven način zaustavim vaše važne trenutke i pratim vas od početka, pa kroz sve vaše životne faze.
</p>
<img src="../../../assets/images/photographer.jpg" alt="photographer"/>
</div>
