$main-color:#d9a872;
$primary-color:#8A6E74;
$white-color:white;

.container {
  display: flex;
  text-transform: uppercase;
  background-color: $primary-color;
  color:$white-color;
  padding: 17px;

}

.active-link {
  text-decoration: underline;
  color: $main-color;
  border:1px solid $white-color;
  cursor: pointer;
  border-radius: 5px;
}

.section_1 {
 width: 40%;
 display: flex;
 justify-content: space-between;
}

.section_2 {
  width: 40%;
  display: flex;
  justify-content: space-between;
}

.image {
  text-align: center;
}

img{
  width: 20%;
  height: 100%;
}

#reservedPhotoSession{
  border: 1px solid $main-color;
  padding: 0 15px;
  background-color: $main-color;
  cursor: pointer;
  border-radius: 10px;
}
a {
  color:$white-color;
  font-weight: bold;
}





