
  <mat-toolbar class="container">
    <div class="section_1">
    <span id="homePage" [routerLink]="['/']">Pocetna</span>
    <span class="nav_tab" [routerLink]="['about-us']">Nas Tim</span>
    <span class="nav_tab" [routerLink]="['galery']">Galerija</span>
    <span class="nav_tab" [routerLink]="['studio']">Studio</span>
  </div>
    <span class="image">
      <img src="../../assets/images/logo.png" alt="logo"/>
    </span>
    <div class="section_2">
    <span class="nav_tab" [routerLink]="['prices']">Cenovnik</span>
    <span class="nav_tab" [routerLink]="['actual']">Aktuelno</span>
    <span id="reservedPhotoSession" [routerLink]="['appointments']">Zakazivanje</span>
  </div>
  </mat-toolbar>

