
  <nav mat-tab-nav-bar class="container">
    <a mat-tab-link id="homePage" routerLink="" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active-link">Pocetna</a>
    <a mat-tab-link class="nav_tab"  routerLink="about-us" routerLinkActive="active-link">Nas Tim</a>
    <a mat-tab-link class="nav_tab"  routerLink="galery" routerLinkActive="active-link">Galerija</a>
    <a mat-tab-link class="nav_tab"  routerLink="studio" routerLinkActive="active-link">Studio</a>
    <span class="image">
      <img src="../../assets/images/logo.png" alt="logo"/>
    </span>
    <a mat-tab-link class="nav_tab"  routerLink="prices" routerLinkActive="active-link">Cenovnik</a>
    <a mat-tab-link class="nav_tab"  routerLink="actual-events" routerLinkActive="active-link">Aktuelno</a>
    <a mat-tab-link id="reservedPhotoSession" routerLink="appointments">Zakazivanje</a>
 </nav>


