$main-color:#BFA790;
$primary-color:#8A6E74;
$white-color:white;

.container {
  display:flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background-color: $main-color;
}

.disp_left {
  background-color: $main-color;
  width: 50%;
}

h2{
  text-align: center;
  text-transform: uppercase;
  color: $white-color;
  font-size: 46px;
}

 p{
  color: $white-color;
  text-transform: uppercase;
  text-align: center;
 }

 form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
 }

 input {
  border: none;
 }

 button {
  color: $main-color;
  border: 1px solid $primary-color;
 }

 .links {

    background-color: $main-color;
    color: $white-color;
    padding: 69px;
    text-transform: uppercase;
    cursor: pointer;
 }

 mat-toolbar {
  display: flex;
  justify-content: space-around;
  background-color:$main-color;
  color: $white-color;
 }

 span {
  border: 1px solid $primary-color;
  padding: 10px;
  border-radius: 10px;
  font-size: 18px;

  &:hover{
    background-color: $white-color;
    color: $primary-color;
  }
 }


