 <div class="container">

  <div class="disp_left">
    <h2>Porodicna fotografija</h2>
    <p>Studio za fotografisanje u Novom Sadu</p>

  <form>
    <mat-form-field appearance="fill">
      <mat-label>Enter e-mail:</mat-label>
      <input matInput>
    </mat-form-field>
    <button mat-raised-button>Preuzmi cenovnik</button>

  </form>
  </div>

  <div class="disp_right">
    <img src="../../../assets/images/img-main.jpg" alt="main_photo"/>

    <div class="links">
      <mat-toolbar>
        <span [routerLink]="['vauchers']">Vauceri</span>
        <span [routerLink]="['studio-outside']">Studio Napolju</span>
        <span [routerLink]="['studio-inside']">Studio Unutra</span>
        <span [routerLink]="['out-of-studio']">Teren</span>
      </mat-toolbar>
    </div>
  </div>

</div>

